@charset "UTF-8";
/* Definindo a animação aparecer para site helloworld*/
body {
    background-color: rgb(0, 0, 0);
}
h1#principal {
    text-align: center; /* Centralizar o texto */
    align-items: center;
    opacity: 0; /* Torna o texto invísivel inicialmente */
    animation: aparecer 5s forwards; /* Aplica a animação */
    color: rgba(119, 4, 113, 0.836);
    background-color: rgb(176, 97, 150);
}

/* Efeito aparecer */ 
@keyframes aparecer {
    0% {
        opacity: 0; /* Começa invisível */
    }
    100% {
        opacity: 1; /* Fica vísivel */
    }
}
